body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bigContainer{
    background-color:#000000;
    width: 359px;
    height: 486px;
}
#mainContainer{
    width: 100%;
    height: 88%;
    background-color: 161616;
}
#defaultContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 4%;
    flex-direction: column;
}
#bottomBarContainer{
    color: #fff;
    background-color: #1C1C1E;
    width: 100%;
    height: 12%;
    border-top: 1px solid #ffffff11;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.bottomBarButtons{
    align-items: center;
    justify-content: start;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}
.bottomBarChild{
    margin: 0;
}

#topBarContainer{
    color: #fff;
    background-color: #1C1C1E;
    width: 93%;
    height: 10%;
    border: 1px solid #ffffff11;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    align-items: center;
}
#searchBarContainer{
    background-color: #101011;
    width: 68%;
    height: 70%;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content: left;
}
.searchChildren{
    margin-left: 5px;
}
#popUpContentContainer{
    margin-top: 5%;
    width: 93%;
    height: 79%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#profileContainer {
    position: fixed;
    border-radius: 10px;
    top: 2.8%;
    left: 3%;
    width: 94%;
    height: 82.5%;
    border: 1px solid #ffffff11;
    background-color: #1C1C1E;
    display: none;
    z-index: 1;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}


#nvBar{
    width: 100%;
    height: 6%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    color: #fff;
    font-size: 18px;
}
#redButton{
    background-color: #DB3F42;
    width: 120%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 8px;
}

a{
    text-decoration: none;
    color: #fff;
}
a.clicked {
    color: #3EA6FF;
}
a.clicked .bottomBarChild{
    fill: #3EA6FF;
}
#xButton{
    margin-top: 8px;
}
#goBackSessionArrow{
    margin-top: 8px;
}
#pageTitleProfile{
    margin-top: 20px;
    font-size: 16px;
}

#accountContainer{
    width: 78%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    color: white;
}
#actualSessionContainer{
    width: 92%;
    height: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y:auto;
    overflow-x: hidden;
    margin-left: 1.3rem;
}

#actualSessionContainer::-webkit-scrollbar {
    width: 14px;
}

#actualSessionContainer::-webkit-scrollbar-track {
    background: #1c1c1e;
}

#actualSessionContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 3px solid #1c1c1e;
}

#actualSessionContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#sessionContainer{
    display: flex;
    width: 100%;
    height: 39%;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: space-around;
}

#sessionOntopEventsController{
    width: 78%;
    height: 80%;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1rem;
    flex-direction: column;
    color: white;
    margin-bottom: 2rem;
}

#accountTripleContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#popupAccountImage{
    border-radius: 999px;
    width: 64px;
    height: 64px;
}
#popupAccountName{
    font-size: 30px;
}
#popupAccountEmail{
    font-size: 14px;
}

#accountWarningPrompt{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.keepButtons{
    background-color: #253f56;
    color: #65b8ff;
    border-radius: 6px;
    border: 1px solid #65b8ff50;
    padding: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}

#popupSessionLockButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232325;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 14px;
    border: 1px solid #ffffff08;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.8rem;
    margin-left: 0.8rem;
    cursor: pointer;
}

#defaultSessionContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}


.addSessionBar{
    display: flex;
    justify-content: space-between;
    background-color: #232325;
    width: 13.9rem;
    height: 2.8rem;
    align-items: center;
    border-radius: 14px;
    border: 1px solid #ffffff08;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.8rem;
    margin-left: 0;
    cursor: pointer;
}
.profileLeftContainer{
    display: flex;
    color: white;
    font-size: 1.1rem;
    margin-left: 4%;
    align-items:flex-end;

}
.profileRightContainer{
    display: flex;
    margin-right: 0.8rem;
}

#makeBarDisabled{
    cursor: auto;
    border: none;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.2);
}
#DisabledSessionName{
    color: #5f5f60;
}
#addSessionPlusSign path{
    stroke: #5f5f60;
}

.popupInputContainers{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    width: 100%;
}

.popupInputs{
    height: 1.8rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ffffff08;
    background-color: #232325;
    color: white;
    margin-top: 0.4rem;
    width: 98%;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.3);
    padding-left: 8px;
    font-size: 14px;
}

#eventTopText{
    display: flex;
    text-align: center;
}

.popupLabels{
    font-size: 14px;
}